* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.heading_container {
  background-image: url(./images/jose-luis-lanza-m-PgQ-ayp7M-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
}

.input_section {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hide {
  display: none;
}

.input_section i {
  color: #fff;
  font-size: 33px;
  cursor: pointer;
}

#DOB {
  cursor: pointer;
  padding: 12px 33px;
  border: none;
}

#DOBButton {
  padding: 12px 33px;
  cursor: pointer;
  background-color: aquamarine;
  border: none;
}

.timesShow {
  display: flex;
  gap: 12px;
}
