* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  height: 100%;
}

#background {
  background-image: url(./images/jose-luis-lanza-m-PgQ-ayp7M-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
